body {
    background: fixed;
    background-color: rgb(251, 251, 251);
}
h1 {
    color: brown;
    text-align: center;
    border-style: solid;
}
h2 {
    text-align: center;
    font-style: italic;
    border-style: solid;
    background-color: rgb(255, 168, 168);
}
li {
    text-align:justify;
}
img {
    align-items: center;
    width: 100px;
    height: 100px;
}
p {
    text-align: center;
}
span.listA {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

span.Add {
    align-items: end;
}
aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: 0.5rem;
}


